<div>
  <p>Title:</p>
  <span><%= @book.title %></span>
</div>

<div>
  <p>body:</p>
  <span><%= @book.body %></span>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", '/books' %>